In [ ]:
#ejercicio 1 - Imprime “Hello world” 73 veces. 
for x in range(1,74):
  print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
#ejercicio 2 - Crea un programa en python que devuelva el valor del septuagésimo tercer (73º) número de la serie de Fibonacci. 
a=1
b=2
resultado=[1,2]
for el in range (1,74):
  c=a+b
  a=b
  b=c
print(c)

3416454622906707

In [ ]:
#ejercicio 3.A - Crea un data frame en pandas con 201 filas y las siguientes columnas: a. Una a la que denominaremos t, con los números entre 0 y 4 separados por intervalos de 0.02. Es decir: 0, 0.02, 0.04, ..., 4 
from numpy import linspace as ls
from pandas import DataFrame as df
diccionario = {
    't': ls (0,4,201)
}
diccionario

{'t': array([0.  , 0.02, 0.04, 0.06, 0.08, 0.1 , 0.12, 0.14, 0.16, 0.18, 0.2 ,
        0.22, 0.24, 0.26, 0.28, 0.3 , 0.32, 0.34, 0.36, 0.38, 0.4 , 0.42,
        0.44, 0.46, 0.48, 0.5 , 0.52, 0.54, 0.56, 0.58, 0.6 , 0.62, 0.64,
        0.66, 0.68, 0.7 , 0.72, 0.74, 0.76, 0.78, 0.8 , 0.82, 0.84, 0.86,
        0.88, 0.9 , 0.92, 0.94, 0.96, 0.98, 1.  , 1.02, 1.04, 1.06, 1.08,
        1.1 , 1.12, 1.14, 1.16, 1.18, 1.2 , 1.22, 1.24, 1.26, 1.28, 1.3 ,
        1.32, 1.34, 1.36, 1.38, 1.4 , 1.42, 1.44, 1.46, 1.48, 1.5 , 1.52,
        1.54, 1.56, 1.58, 1.6 , 1.62, 1.64, 1.66, 1.68, 1.7 , 1.72, 1.74,
        1.76, 1.78, 1.8 , 1.82, 1.84, 1.86, 1.88, 1.9 , 1.92, 1.94, 1.96,
        1.98, 2.  , 2.02, 2.04, 2.06, 2.08, 2.1 , 2.12, 2.14, 2.16, 2.18,
        2.2 , 2.22, 2.24, 2.26, 2.28, 2.3 , 2.32, 2.34, 2.36, 2.38, 2.4 ,
        2.42, 2.44, 2.46, 2.48, 2.5 , 2.52, 2.54, 2.56, 2.58, 2.6 , 2.62,
        2.64, 2.66, 2.68, 2.7 , 2.72, 2.74, 2.76, 2.78, 2.8 , 2.82, 2.84,
        2.86, 2.88, 2.9 , 2.92, 2.94, 2.96, 2.98, 3.  , 3.02, 3.04, 3.06,
        3.08, 3.1 , 3.12, 3.14, 3.16, 3.18, 3.2 , 3.22, 3.24, 3.26, 3.28,
        3.3 , 3.32, 3.34, 3.36, 3.38, 3.4 , 3.42, 3.44, 3.46, 3.48, 3.5 ,
        3.52, 3.54, 3.56, 3.58, 3.6 , 3.62, 3.64, 3.66, 3.68, 3.7 , 3.72,
        3.74, 3.76, 3.78, 3.8 , 3.82, 3.84, 3.86, 3.88, 3.9 , 3.92, 3.94,
        3.96, 3.98, 4.  ])}

In [ ]:
#ejercicio 3.B - Otra con el seno de t a la que llamaremos s. 
import numpy as np
import pandas as pd
col1 = np.linspace(0,4,201)
df=pd.DataFrame(col1,columns=['t'])
df['s'] = df['t'].apply(np.sin)
print(df)

        t         s
0    0.00  0.000000
1    0.02  0.019999
2    0.04  0.039989
3    0.06  0.059964
4    0.08  0.079915
..    ...       ...
196  3.92 -0.702146
197  3.94 -0.716246
198  3.96 -0.730058
199  3.98 -0.743579
200  4.00 -0.756802

[201 rows x 2 columns]

In [ ]:
#ejercicio 3.C - Otra con el seno el valor que tiene el seno de t 10 registros posteriores al que llamaremos s10. Sugerencia: El método shift de un data frame de pandas permite crear columnas a partir del desplazamiento de la posición de otras. 
df ['s10'] = df['s'].shift(10)
print(df)

        t         s       s10
0    0.00  0.000000       NaN
1    0.02  0.019999       NaN
2    0.04  0.039989       NaN
3    0.06  0.059964       NaN
4    0.08  0.079915       NaN
..    ...       ...       ...
196  3.92 -0.702146 -0.546691
197  3.94 -0.716246 -0.563327
198  3.96 -0.730058 -0.579738
199  3.98 -0.743579 -0.595917
200  4.00 -0.756802 -0.611858

[201 rows x 3 columns]

In [ ]:
#ejercicio 3.D - Otra columna a la que llamaremos d que será la diferencia entre las dos anteriores. 

df ['d'] = df['s10'] - df['s']
print(df)

        t         s       s10         d
0    0.00  0.000000       NaN       NaN
1    0.02  0.019999       NaN       NaN
2    0.04  0.039989       NaN       NaN
3    0.06  0.059964       NaN       NaN
4    0.08  0.079915       NaN       NaN
..    ...       ...       ...       ...
196  3.92 -0.702146 -0.546691  0.155455
197  3.94 -0.716246 -0.563327  0.152918
198  3.96 -0.730058 -0.579738  0.150320
199  3.98 -0.743579 -0.595917  0.147662
200  4.00 -0.756802 -0.611858  0.144945

[201 rows x 4 columns]

In [ ]:
#ejercicio 3.E - Otra columna a la que llamaremos p. Esta columna será igual a 1 si el registro de la columna d es positivo y 0 si es negativo. 
def is_positive(x):
  if x>0:
    return 1
  else :
      return 0

df['p'] = df['d'].apply(lambda x: is_positive(x))
print (df)

        t         s       s10         d  p
0    0.00  0.000000       NaN       NaN  0
1    0.02  0.019999       NaN       NaN  0
2    0.04  0.039989       NaN       NaN  0
3    0.06  0.059964       NaN       NaN  0
4    0.08  0.079915       NaN       NaN  0
..    ...       ...       ...       ... ..
196  3.92 -0.702146 -0.546691  0.155455  1
197  3.94 -0.716246 -0.563327  0.152918  1
198  3.96 -0.730058 -0.579738  0.150320  1
199  3.98 -0.743579 -0.595917  0.147662  1
200  4.00 -0.756802 -0.611858  0.144945  1

[201 rows x 5 columns]

In [ ]:
#ejercicio 3.F - Guarda el resultado en un archivo “.csv” separado por “;”. 
df.to_csv ('ejercicio1-3',sep =';')

In [ ]:
#ejercicio 4.A - La última columna m será la media de los valores positivos si p es 1 y la media de los valores negativos si p es 0. Sugerencia: los métodos groupby y transform pueden encadenarse. Documentación método transform 
import statistics as st 
df['M'] = st.mean(df['p'])
#df.groupby('p').transform(mean)
print (df)

        t         s       s10         d  p        M
0    0.00  0.000000       NaN       NaN  0  0.58209
1    0.02  0.019999       NaN       NaN  0  0.58209
2    0.04  0.039989       NaN       NaN  0  0.58209
3    0.06  0.059964       NaN       NaN  0  0.58209
4    0.08  0.079915       NaN       NaN  0  0.58209
..    ...       ...       ...       ... ..      ...
196  3.92 -0.702146 -0.546691  0.155455  1  0.58209
197  3.94 -0.716246 -0.563327  0.152918  1  0.58209
198  3.96 -0.730058 -0.579738  0.150320  1  0.58209
199  3.98 -0.743579 -0.595917  0.147662  1  0.58209
200  4.00 -0.756802 -0.611858  0.144945  1  0.58209

[201 rows x 6 columns]

In [ ]:
#ejercicio 4.B - Crea finalmente un data frame de solo dos filas con el sumatorio de los valores negativos de la columna d y el sumatorio de los valores positivos de la columna d. Sugerencia: El método groupby será suficiente. 
nuevodf = df.groupby(['p'])
nuevodf.sum()

        t          s        s10          d          M
p
0   69.72  54.950468  44.966963  -9.086202  48.895522
1  332.28  27.350556  44.272509  16.921953  68.104478

In [ ]:
df.to_csv ('ejercicio 7',sep=';')

In [ ]:
#ejercicio 5 - Para practicar con la depuración del código: Repara el programa subido al aula virtual. exercice_debug_1.py 
#MODIFY EACH STEP IN ORDER TO RUN COMPLETLY THE PROGRAM
print('STEP 1')
for i in range(0,11):
  x = i
#tabulero al X de arriba
print(f'x should be 10:{x}')
if x == 10:
    print('SUCCESS! IN STEP 1')
print('STEP 2')
x = False
for i in range(0,11):
    x = x or True
#Cambiar la AND para OR
    if x and  i == 5:
        break 
    
print(f'x should be True:{x}')
print(f'i should be 5:{i}')
if i == 5 and x:
    print('SUCCESS! IN STEP 2')

STEP 1
x should be 10:10
SUCCESS! IN STEP 1
STEP 2
x should be True:True
i should be 5:5
SUCCESS! IN STEP 2

In [ ]:
#ejercicio 6 - Calcula el septuagésimo tercer (73º) número primo. 
import numpy as np
def is_prime(n):
  for i in range(2,int(np.sqrt(n))+1):
    if (n%1) == 0:
      return False
  return True

is_prime(73)

False

In [ ]:
#ejercicio 7 - encuentre un intervalo que tenga 73 números no primos seguidos 
contador = 0
last_none_prime = 1
next_number= 2
list = []

while contador < 73:
  next_number = next_number + 1
  if not is_prime (next_number):
    contador += 1
    list.append(next_number)
  else:
    contador = 0
    list = []
print(list)

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76]